@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.75px;
}

.main-page {
  width: 100%;
  height: 100vh;
  background: url(./images/background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 2rem;
}

.header {
  width: 100%;
  height: auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-section {
  width: 100%;
  height: auto;
  padding: 8rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 1rem;
}

.hero-texts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 0.7rem;
}

.hero-texts h1 {
  width: 50%;
  font-size: clamp(1rem, 3vw + 2rem, 7rem);
  color: white;
  font-weight: 700;
}

.hero-texts p {
  width: 50%;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  font-weight: 300;
}

.world-travel {
  width: 100%;
}

.world-travel p:hover {
  width: 100%;
  font-size: 2rem;
  color: rgb(133, 133, 133);
  font-weight: 500;
}

.world-travel p {
  width: 100%;
  font-size: 2rem;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.menu {
  width: 100%;
  height: auto;
  padding: 0.8rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 5rem;
}

.menu-item {
  font-size: 1rem;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.menu-main {
  width: 100%;
  height: auto;
  padding: 1rem 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 5rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50px;
}

.menu-item:hover {
  color: rgb(255, 255, 255);
  font-weight: 700;
  background-color: rgb(0, 0, 0);
  padding: 0.5rem 0.7rem;
  border-radius: 30px;
}

button {
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  color: white;
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.get-started {
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  color: white;
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 300;
}
.button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  column-gap: 1.5rem;
}

.content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 2rem;
  row-gap: 2rem;
  background-color: aliceblue;
}

.recommend {
  color: black;
  font-size: clamp(1rem, 0.8vw + 0.5rem, 4rem);
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
  column-gap: 2rem;
}

.card-main-1 {
  width: 300px;
  height: auto;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: white;
  row-gap: 0.2rem;
}

.card-image {
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 350px;

  object-fit: cover;
}

.card-main-2 {
  width: 300px;
  height: auto;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: white;
  row-gap: 0.2rem;
}

.card-main-3 {
  width: 300px;
  height: auto;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: white;
  row-gap: 0.2rem;
}

.card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 0.2rem;
}

.card-content h2 {
  font-size: 1.5rem;
  color: black;
  font-weight: 500;
}
.card-content p {
  font-size: 0.9rem;
  color: gray;
  font-weight: 400;
}
