@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.75px;
}

.main-page {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: url(./images/background.jpg);
  background-size: cover;
  background-position: center;
}

.header {
  width: 100%;
  height: auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.world-travel {
  width: 100%;
}

.world-travel p:hover {
  width: 100%;
  font-size: 1.7rem;
  color: rgb(133, 133, 133);
  font-weight: 500;
}

.world-travel p {
  width: 100%;
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.menu {
  width: 100%;
  height: auto;
  padding: 0.8rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 5rem;
}

.menu-item {
  font-size: 1rem;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.menu-main {
  width: 100%;
  height: auto;
  padding: 1rem 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 5rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50px;
}

.menu-item:hover {
  color: rgb(255, 255, 255);
  font-weight: 700;
  background-color: rgb(0, 0, 0);
  padding: 0.5rem 0.7rem;
  border-radius: 30px;
}

button {
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  color: white;
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  column-gap: 1.5rem;
}
